
@{
    ViewData["Title"] = "ListUsers";
    var emp = ViewData["lstUser"] as List<Domain.Model.User.User>;
}

<h1>Users List</h1>
<style>
    #users {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }
        #users td, #users th {
            border: 1px solid #ddd;
            padding: 8px;
        }
        #users tr:nth-child(even) {
            background-color: #f2f2f2;
        }
        #users tr:hover {
            background-color: #ddd;
        }
        #users th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #04AA6D;
            color: white;
        }
</style>


<table id="users">
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Phone</th>
    </tr>
    @{
        foreach (Domain.Model.User.User em in emp)
        {
            <tr>
                <td>@em.firstName</td>
                <td>@em.lastName</td>
                <td>@em.email</td>
                <td>@em.phoneNumber</td>
            </tr>
        }
    }
</table>

