@{
    var userName = ViewData["userName"] as string;
}

<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="~/css/User.css" rel="stylesheet" />
    <script type="text/javascript">
        $(window).on('load', function () {
            $('#userSuccessModal').modal('show');
        });
    </script>
</head>

<div class="container">
    <div class="row">
        <div class="modal fade" id="userSuccessModal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label=""><span>×</span></button>
                    </div>
                    <div class="modal-body">
                        <div class="thank-you-pop">
                            <img src="http://goactionstations.co.uk/wp-content/uploads/2017/03/Green-Round-Tick.png" alt="">
                            <h1>Thank You!</h1>
                            <p>Registration done! Welcome to Shopping App @userName</p>
                            <a href='@Url.Action("LoginCustomer", "Login")'>Click here to login</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 