<link href="~/css/Dashboard.css" rel="stylesheet" />
<script src="~/Custom.js/Dashboard.Js"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>
<div class="super_container">        
    <!-- Header Main -->
        <div class="header_main">
            <div class="container">
                <div class="row">

                    <!-- Logo -->
                    <div class="col-lg-2 col-sm-3 col-3 order-1">
                        <div class="logo_container">
                            <div class="logo"><a href="#">Marlabs</a></div>
                        </div>
                    </div>

                    <!-- Search -->
                    <div class="col-lg-6 col-12 order-lg-2 order-3 text-lg-left text-right">
                        <div class="header_search">
                            <div class="header_search_content">
                                <div class="header_search_form_container">
                                    <form action="#" class="header_search_form clearfix">
                                        <input type="search" required="required" class="header_search_input" placeholder="Search for products...">
                                        <div class="custom_dropdown" style="display: none;">

                                            <div class="custom_dropdown_list">
                                                <span class="custom_dropdown_placeholder clc">All Categories</span>

                                                <i class="fas fa-chevron-down"></i>

                                            </div>
                                        </div>
                                        <button type="submit" class="header_search_button trans_300" value="Submit"><img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1560918770/search.png" alt=""></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Filter-->
                    <div class="col-lg-1 col-8 order-lg-2 order-2 text-lg-left text-right">
                        <div class="dropdown">
                            <a onclick="myFunction()" class="dropbtn" style="font-size: larger;">Filter</a>
                            <div id="myDropdown" class="dropdown-content">
                                <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()"><br>
                                <a href="#about">Low-High</a><br>
                                <a href="#base">High-Low</a>
                            </div>
                        </div>
                    </div>
                   
                            <!-- Cart -->
                            <div class="cart">
                                <div class="cart_container d-flex flex-row align-items-center justify-content-end">
                                    <div class="cart_icon">

                                        <a href="@Url.Action("CartItems", "Cart")"><img src="~/Images/CartIcon.png" href="@Url.Action("CartItems", "Home")" /></a>
                                    </div>
                                    <div class="cart_content">
                                        <div class="cart_text"><a href="@Url.Action("CartItems", "Cart")">Cart</a></div>
                                        <div class="cart_price"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>

