@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<form>
    <p>
        <button onclick="ShowQuote">Convert Array</button>
    </p>
</form>

<script type="text/javascript">
        function ShowQuote() {
            console.log("Hi");
    };
        function ShowClarify() {
            console.log("Hi");
    };
</script>