@model List<string>

<html>
<head>
	<link rel="stylesheet" href="~/css/LoginCustomer.css">
	<script src="~/js/CustomerLogin.js"></script>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
	<div class="container">
		<div class="screen">
			<div class="screen__content">

				
					@*<button type="button" class="btn btn-success dropdown-toggle" id="RolesDropdown" onclick="Dropdown()">
						--SelectRole--
					</button>
				   
										
											
			   <div class="dropdown-menu">
				   <select name="roles">
						@foreach (var role in @Model)
						{
							<option class="dropdown-item" value="@role">@role</option>
						}
				   </select>
						
					</div>*@
				
		
					@* <label for="role" id="lblname">Select Role : </label>
      <select name="roles" id="role">
		  @foreach(var role in Model){
			          <option value="@role">@role</option>
		  }
        
      </select>*@




				<form class="login">
					<div class="login__field">
						<i class="fa fa-user"></i>
						<input type="text" id="email" class="login__input" placeholder="Email">
					</div>
					<div class="login__field">
						<i class="fa fa-lock"></i>
						<input type="password" id="password" class="login__input" placeholder="Password">
					</div>
					<button type="button" class="button login__submit" id="lgnBtn" onclick="CustomerLogin()">
						<span class="button__text">Log In Now</span>
						<i class="fa fa-chevron-right"></i>
					</button>
				</form>
				<div class="social-login">
					<h3><b style="color:black">log in via</b></h3>
					<div class="social-icons">
						<i class="fa fa-instagram" style="color:deepskyblue"></i>&nbsp;
						<i class="fa fa-facebook" style="color:deepskyblue"></i>&nbsp;
						<i class="fa fa-twitter" style="color:deepskyblue"></i>
					</div>
				</div><br /><br /><br />
				<p style="padding:20px;"><b>New User ? <a style="color:ghostwhite" href="">Register here</a></b></p>
			</div>
			<div class="screen__background">
				<span class="screen__background__shape screen__background__shape4"></span>
				<span class="screen__background__shape screen__background__shape3"></span>
				<span class="screen__background__shape screen__background__shape2"></span>
				<span class="screen__background__shape screen__background__shape1"></span>
			</div>
		</div>
	</div>

</body>
</html>


							