
<head>
<link href="~/Scripts/login.css" rel="stylesheet"/>
</head>
<body>
<div class="container">
   <section id ="content">
  <form action="">
<h1>Login Form</h1>
<div> 
<input type="text" placeholder="username", required="" id="username"/>
</div>
<div> 
<input type="text" placeholder="password", required="" id="pswd"/>
</div>
                <div>
                    <input type="button" value="Submit" name="but_submit" id="but_submit" />
                </div>
            </form>
            </section>
            </div>
</body>
@section Scripts  
{  
    <script type="text/javascript">  
    $(function () {  
         

    $("#but_submit").click(function () {
        var username = $("#username").val().trim();
        var password = $("#pswd").val().trim();

        if (username != "" && password != "") {

                    $.ajax({
                        type: "POST",
                        url: 'https://localhost:44316/api/CustomerLogin/LoginCustomer',
                        dataType: "text json",
                        contentType: "application/json; charset=utf-8",
                        data: JSON.stringify({ username: username, password: password }),
                        success: function (data) {
                    var msg = "";
                    if (response == 1) {
                        window.location = "Login successfull";
                    } else {
                        msg = "Invalid username and password!";
                    }
                    $("#message").html(msg);
                }
            });
        }
    });
    });
    </script>
    }


