<div class="component container industrySection">
    <div class="component-content">
        <h2>Product List</h2>
        <div class="row component column-splitter">

            <div class="col-md-4 col-sm-4 col-xs-6">
                <div class="category_img">
                    <a href="/en">
                        <img src="/-/media/Project/Aceto/AcetoStorefront/Images/Explore-By-Industry/life-science.png?h=202&amp;iar=0&amp;w=202&amp;hash=7C564E81C1028D8324B07C6C6F784B72" alt="" width="202" height="202">
                        <h3>Pharma</h3>
                    </a>
                </div>
            </div>


        </div>
    </div>
